// COLORS

$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);
$color-grey: rgb(216, 216, 216);
$color-blue-100: rgb(229, 234, 214);
$color-blue-50: rgb(246, 250, 255);

// FONTS
$font-primary: "Alata", sans-serif;
$font-secondary: "Josefin Sans", sans-serif;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10/16 = 62.5%
}

body {
  font-family: $font-primary;
  font-size: 1.5rem;
  //   color: $color-grey-dark-2;

  background-color: $color-white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 17.5rem;
}

.hero {
  background-image: url("../images/desktop/image-hero.jpg");
  background-repeat: no-repeat;
  width: 144rem;
  height: 65rem;
  padding: 6.4rem 0;
  display: flex;
  justify-content: center;
  &__container {
    display: flex;
    flex-direction: column;
    padding-bottom: 8.4rem;
    justify-content: space-between;
    width: 110rem;
  }
  &__title {
    max-width: 65rem;
    height: 27.8rem;
    padding: 4rem 4.2rem;
    color: $color-white;

    text-transform: uppercase;

    border: 1px solid $color-white;
  }
}
.about {
  width: 110rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);

  &__img {
    grid-column: 1/5;
    grid-row: 1/-1;
  }

  &__contents {
    grid-column: 4/7;
    grid-row: 3/7;
    background-color: $color-white;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    // width: 44.5rem;
    justify-content: end;
    align-items: flex-end;
    padding-left: 9.5rem;
  }

  &__title {
    text-transform: uppercase;
  }

  &__description {
    opacity: 50%;
  }
}

.creations {
  width: 110rem;
  display: flex;
  flex-direction: column;
  gap: 8rem;
}
