// COLORS

$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);
$color-grey: rgb(216, 216, 216);
$color-blue-100: rgb(229, 234, 214);
$color-blue-50: rgb(246, 250, 255);

// FONTS
$font-primary: "Alata", sans-serif;
$font-secondary: "Josefin Sans", sans-serif;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10/16 = 62.5%
}

body {
  font-family: $font-primary;
  font-size: 1.5rem;
  //   color: $color-grey-dark-2;
  color: $color-white;
  background-color: $color-black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
