.header {
  max-width: 100%;
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__navbar {
    align-self: flex-start;

    & summary {
      list-style: none;
    }

    &_btn-togal {
      display: none;
      mask: url(../images/icon-hamburger.svg) no-repeat center;
      mask-size: contain;
      width: 3.2rem;
      height: 3.2rem;
      background-color: $color-white;
    }

    &[open] summary &_btn-togal {
      mask: url(../images/icon-close.svg) no-repeat center;
    }

    &_items {
      list-style: none;
      display: grid;
      grid-template-columns: repeat(5, max-content);
      gap: 3.2rem;
      align-items: center;
      color: $color-white;
    }

    &_list {
      position: relative;
    }

    &_link {
      color: inherit;
      cursor: pointer;
      position: relative;
      &:link,
      &:active {
        text-decoration: none;
      }

      // &::after {
      //   content: "";
      //   height: 2px;
      //   width: 2.4rem;
      //   background-color: transparent;
      //   display: block;
      //   position: absolute;
      //   bottom: -1rem;
      //   left: 0;
      //   z-index: 10;
      //   transform: translateX(50%);
      // }

      &:hover + * {
        background-color: $color-white;
        scale: 100%;
      }
    }
    &_visited {
      height: 2px;
      width: 2.4rem;
      background-color: transparent;
      display: block;
      position: absolute;
      bottom: -1rem;
      left: 0;
      z-index: 10;
      scale: 0%;
      transform: translateX(50%);
      transition: scale 0.5s;
    }
  }

  @media only screen and (max-width: $bp-tablet) {
    &__navbar {
      &_btn-togal {
        display: block;
      }

      &_items {
        // display: none;
        gap: 1rem;
      }
    }
  }
}

.creations {
  &__title {
    text-transform: uppercase;
    grid-column: 1/2;
  }

  &__button {
    justify-self: end;
    align-self: center;
    grid-row: 1/2;
    grid-column: 2/-1;
    text-transform: uppercase;
    padding: 1.3rem 4rem;
    border: 1px solid $color-black;
    background-color: $color-white;

    cursor: pointer;
    transition: color 0.5s;

    &:hover {
      color: $color-white;
      background-color: $color-black;
    }
  }
  @media only screen and (max-width: $bp-tablet) {
    &__title {
      grid-column: 1/-1;
      justify-self: center;
    }

    &__button {
      grid-row: 3/4;
      grid-column: 1/-1;
      justify-self: center;
    }
  }
}

.creations__grid {
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3.2rem;
  width: inherit;
}

.creations__image_container {
  position: relative;

  &-img {
    width: 100%;
    cursor: pointer;
    transition: filter 0.3s;

    &:hover {
      filter: opacity(0.5);
    }

    &:hover + * {
      color: $color-black;
    }
  }

  &-text {
    position: absolute;

    left: 4rem;
    bottom: 4rem;
    color: $color-white;
    text-transform: uppercase;
    height: 6.4rem;
    z-index: 10;
    transition: color 0.3s;
    pointer-events: none;
    text-align: left;
    // line-height: 3.2rem;
    // max-width: 15rem;
  }
  @media only screen and (max-width: $bp-tablet) {
    grid-column: 1/-1;
    height: 12rem;
    overflow: hidden;

    &-text {
      left: 2rem;
      bottom: 2rem;
      height: 4.8rem;
    }
  }
}

.footer {
  &__icon {
    justify-self: end;
    display: flex;
    gap: 1rem;
  }

  &__copyright {
    color: rgba($color-white, 0.5);
    justify-self: end;
  }

  @media only screen and (max-width: $bp-mobile) {
    &__icon,
    &__copyright {
      justify-self: center;
    }
  }
}
