.hero__title {
}

.header {
  max-width: 100%;
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
  }

  &__navbar {
    align-self: flex-start;
    &_btn-togal {
      display: none;
      mask: url(../images/icon-hamburger.svg) no-repeat center;
      mask-size: contain;
      width: 3.2rem;
      height: 3.2rem;
      background-color: $color-white;
    }

    &_items {
      list-style: none;
      display: grid;
      grid-template-columns: repeat(5, max-content);
      gap: 3.2rem;
      align-items: center;
    }

    &_link {
      color: inherit;
      cursor: pointer;
      position: relative;
      &:link,
      &:active {
        text-decoration: none;
      }

      &::after {
        content: "";
        height: 2px;
        width: 2.4rem;
        background-color: transparent;
        display: block;
        position: absolute;
        bottom: -1rem;
        left: 0;
        z-index: 10;
        transform: translateX(50%);
      }

      &:visited::after {
        background-color: $color-white;
      }
    }
  }
}
