.preset-1 {
  font-family: $font-secondary;
  font-size: 7.2rem;
  letter-spacing: 0;
  line-height: 100%;
  font-weight: 300;

  //   &-2 {
  //     font-size: 4.8rem;
  //   }
  @media only screen and (max-width: $bp-mobile) {
    font-size: 4rem;
    letter-spacing: 0;
    line-height: 100%;
    font-weight: 300;
  }
}

.preset-2 {
  font-family: $font-secondary;
  font-size: 4.8rem;
  letter-spacing: 0;
  line-height: 100%;
  font-weight: 300;
  @media only screen and (max-width: $bp-mobile) {
    font-size: 3.2rem;
    letter-spacing: 0;
    line-height: 100%;
    font-weight: 300;
  }
}

.preset-3 {
  font-family: $font-secondary;
  font-size: 4rem;
  letter-spacing: 0;
  line-height: 100%;
  font-weight: 300;
}

.preset-4 {
  font-family: $font-secondary;
  font-size: 3.2rem;
  letter-spacing: 0;
  line-height: 100%;
  font-weight: 300;
  @media only screen and (max-width: $bp-tablet) {
    font-size: 2.4rem;
    letter-spacing: 0;
    line-height: 100%;
    font-weight: 300;
  }
}

.preset-5 {
  font-family: $font-secondary;
  font-size: 2.4rem;
  letter-spacing: 0;
  line-height: 100%;
  font-weight: 300;
}

.preset-6 {
  font-family: $font-primary;
  font-size: 1.5rem;
  letter-spacing: 0;
  line-height: 165%;
  font-weight: 400;
}

.preset-7 {
  font-family: $font-primary;
  font-size: 1.4rem;
  letter-spacing: 1.5px;
  line-height: 100%;
  font-weight: 400;
}
